*

!.gitignore
!Makefile

!README.md
!/docs/
!/docs/*.md

!/terraform/
!/terraform/*.tf
!/terraform/cloud-init.yaml
!/terraform/.terraform.lock.hcl

!/gitops/
!/gitops/apps/
!/gitops/apps/*
!/gitops/platform/
!/gitops/platform/**
!/gitops/services/
!/gitops/services/**

!/scripts/
!/scripts/*.sh
