*

!.gitignore

!README.md
!/docs/
!/docs/*.md

!/terraform/
!/terraform/*.tf
!/terraform/cloud-init.yaml
!/terraform/.terraform.lock.hcl

!/gitops/
!/gitops/application.yaml
!/gitops/athenea/
!/gitops/athenea/**

!/scripts/
!/scripts/*.sh
