*

!.gitignore

!README.md
!/docs/
!/docs/*.md

!/terraform/
!/terraform/*.tf
!/terraform/cloud-init.yaml
!/terraform/.terraform.lock.hcl

!/gitops/
!/gitops/app-of-apps.yaml
!/gitops/apps/
!/gitops/apps/*

!/scripts/
!/scripts/*.sh
